body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.par,
.impar {
    padding: 30px 50px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 10px #ccc;
}


.par {
    background-color: #d4edda;
    color: #28a745;
    border: 2px solid #28a745;
}


.impar {
    background-color: #f8d7da;
    color: #dc3545;
    border: 2px solid #dc3545;
}


